.new_task_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit_task {
  margin: 3rem auto !important;
  width: 300px !important;
}

.required_field {
  width: 33ch !important;
}