.new_task_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
}

.submit_task {
  margin: 3rem auto !important;
  max-width: 300px !important;
  min-width: none;
}

.required_field {
  width: 33ch !important;
}

